<div class="task-list-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Lista de Tarefas</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <app-task-form 
        [task]="selectedTask"
        (addTask)="onAddTask($event)"
        (updateTask)="onUpdateTask($event)"
        (cancelEdit)="cancelEdit()">
      </app-task-form>
      
      <mat-divider></mat-divider>
      
      <div class="tasks">
        <h2>Minhas Tarefas</h2>
        
        @if (tasks.length === 0) {
          <p class="no-tasks">Nenhuma tarefa encontrada. Adicione uma nova tarefa!</p>
        } @else {
          @for (task of tasks; track task.id) {
            <app-task-item 
              [task]="task"
              (edit)="onEditTask(task)"
              (delete)="onDeleteTask(task.id)"
              (toggleComplete)="onToggleCompletion(task.id)">
            </app-task-item>
          }
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>